
html, body {
  width: 100%;
  height: 100%;
}
.everything-body {
  background-image: url(/static/SplitShire_IMG_0103.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#dashboard-title {
    color: #D7CEC7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size:40px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 75px;
    margin-right:25px;
}

#dashboard-intro {
  color: #D7CEC7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.table-title {
  color: #D7CEC7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0px 0px 0px 30px;
}
.dashboard-container{
    background: rgba(16, 10, 4, 0.8);
    height: 90%;
    line-height: 1.3;
    /*position: fixed;*/
    /*height: 100%;*/
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border: none;
}

.homepage-container{
    background: rgba(16, 10, 4, 0.6);
    /*height: 100%;*/
    /*background-size: cover;*/
    line-height: 1.3;
    /*position: fixed;*/
    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.homepage-body {
  background-size: cover;
  /*background-image: url(/static/SplitShire_IMG_0103.jpg);*/
  background-attachment: fixed;
  position: relative;
}

#portrait{
  height: 250px;

}

.homepage-images {
left: 50%;

}

.col-xs-4 {
  text-align: center;
}

.inner-col {
  margin: 10px;
  border: solid;
  border-radius:10px;
  border-color: #D7CEC7;
  padding:30px 0 30px 0;
}


h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #D7CEC7;
  font-weight: 550;
}

#main-title {
  color: #D7CEC7;
  margin: 85px;
  padding: 200px 10px 90px 30px;
  text-align: center;
}

#homepage-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  border-style: solid;
  background-color: transparent;
  border-radius: 10px;
  font-size: 30px;
}

#nav-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;

}

#Payer {
  color: green;
  font-style: italic;
}

#Seller {
  color: red;
  font-style: italic;
}

.well {
    min-height: 0;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
    box-shadow: inset 0 0 0x rgba(0,0,0,0);
}

.progress-bar {
  background-color: rgba(56, 26, 95, 0.71);
  font-size: 10px;
}

.navbar.navbar-default {
  background-color: transparent;
  color: #D7CEC7;
  border: none;
}

.navbar-default .navbar-brand {
  color: #D7CEC7;
}

.nav {
  color: #D7CEC7;
}

.navbar-default .navbar-nav>li>a {
  color: #D7CEC7;
}

glyphicon {
  font-size: 24px;
}

section {
  margin-top: 50px;
}

#login {
  margin: 20px;
}

.form {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #ece8e5;
    padding: 30px 30px 20px 30px;
    box-shadow: rgba(187, 187, 187, 1) 0 0 20px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0 20px -1px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.form h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
    color: #969696;
}

.form input[type="text"], .form input[type="email"], .transaction-form input[type="number"], .form input[type="password"], .form textarea, .form select{
    color: #555;
    padding: 3px 0 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

.button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffd966), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffd966 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffd966 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffd966 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffd966 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffd966 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd966', endColorstr='#ffab23',GradientType=0);
  background-color:#ffd966;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #8a714c;
  display:inline-block;
  cursor:pointer;
  color:#5c4d37;
  font-family: 'Montserrat', sans-serif;
  font-size:13px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}

.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffd966));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffd966 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffd966 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffd966 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffd966 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffd966 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffd966',GradientType=0);
  background-color:#ffab23;
}

.button:active {
  position:relative;
  top:1px;
}

#show-contract {
  margin-left: 28px
}

.contract-button{
  margin-top: 4px;
}

.transaction-form {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #ece8e5;
    padding: 30px 30px 20px 30px;
    box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    font-size: 12px;
    color: #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.transaction-form h1 {
    font-size: 24px;
    padding: 0px 0px 10px 40px;
    display: block;
    margin: 0px -30px 10px -30px;
    color: #969696;
    font-family: 'Montserrat', sans-serif;
}

.transaction-form input[type="text"], .transaction-form input[type="email"], .transaction-form input[type="number"], .transaction-form input[type="date"], .transaction-form textarea, .transaction-form select{
    color: #555;
    width: 70%;
    padding: 3px 0 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

.transaction-form textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #e7d1bc;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #A8A8A8;
 }

.transaction-table {
  margin:auto;
}
